@{
    ViewBag.Title = "О приложении";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>Данное приложение позволяет хранить данные о клиентах ветеринарных клиник и их питоцев, а также осуществлять запись к ветеринару.</p>
