@{
    ViewBag.Title = "Контакты";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    Бульвар Гагарина 37а<br />
    Пермь, Россия<br />
    <abbr title="Phone">Тел.:89519441211</abbr>
</address>

<address>
    <strong>Поддержка:</strong>   <a href="mailto:Support@example.com">anny99@bk.ru</a><br />
</address>