@{
    ViewBag.Title = "Основная информация";
}

<div class="jumbotron" style="background-color: transparent">
    <meta charset="utf-8">
    <style>
        body {
            font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; /* Рубленый шрифт */
        font-size:medium;
            }

        .letter {
            color: #816b9a; /* фиолетовый цвет символов */
            font-size: 150%; /* Размер шрифта в процентах */
            font-family: Segoe UI; /* Шрифт */
            position: relative; /* Относительное позиционирование */
            top: 5px; /* Сдвиг сверху */
        }
    </style>

    <h1><span class="letter">Л</span>уна - информационная система для записи к ветеринару</h1>
    <p class="lead">Добро пожаловать!<br> Используйте эту систему, чтобы хранить информацию о своих питомцах и записывать их на прием в ветеринарные клиники.</p>
</div>
<hr />
<div class="row" style="background-color:#edfcfd">
    <div class="col-md-4">
        <h2>Что умеет эта система?</h2>
        <p>
            Мы умеем работать с базой данных, содержащей информацию о клиентах, их домашних животных и лечащих врачах.
            Возможно отображение детальной информации о каждой сущности, ее изменение, удаление и поиск по отдельным элементам.
        </p>
    </div>
    <div class="col-md-4">
        <h2>С чего начать?</h2>
        <p>
            Для начала работы с системой Вам необходимо зарегистрироваться и внести информацию о своем питомце или питомцах.
            После Вы сможете выбрать день, время, ветеринарного врача и клинику, в которой будет производиться прием. Удачи!
        </p>
    </div>
    <div class="col-md-4">
        <h2>Сайт внезапно сломался?</h2>
        <p>Ничего страшного. Вы можете обратиться к Барановой Анне и описать свою проблему. Обещаем Вам ее скорое решение :)</p>
    </div>
</div>


