@model MorePractice.Specializ

@{
    ViewBag.Title = "Удаление специализации";
}

<h2>Удаление специализации</h2>

<h3>Вы уверены, что хотите удалить специализацию?</h3>
<div>
    <h4>Специализация</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Специализация")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Specialization)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            @Html.ActionLink("Назад к списку специализаций", "Index")
        </div>
    }
</div>
